body{
  background: #333;
}


.box{
  background: white;
  width: 300px;
  height: 300px;
  /* position: relative; */
  position: fixed;
  margin: auto;
  top: 200px;
  transform;
  /* transition-property: background, border-radius; */
  transition-property: all;
  transition-duration: 7s;
  /* transition-delay: 2s; */
  transition-timing-function: linear;  /* ease-in, ease-out,  */

}

/* .box:hover{
  background: red;
  border-radius: 50%;
  transform:rotateY(180deg);
} */

/* @media (min-width: 600px){
  .box{
    width: 600px;
    height: 600px;
    /* top: calc(50%-100px); */
    /* background-color: yellow;
  }
} */ */
