<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>fibs calculator</title>
  </head>
  <body>
    <h1>calculate fibs value</h1>
    <form class="" action="{{ url_for('main.index') }}" method="post">
      <label for="">provide index</label>
      <input type="text" name="indexValue" value=""><br>
      <button type="submit" name="button">Submit</button>
    </form>
    <p>The calculated value is ..,  for index ..</p>
    <h5>History calculated value</h5>

  </body>
</html>
