{% extends 'base.html' %}
{% import 'form.html' as f with context %}

{% block title %}Login Page{% endblock %}

{% block body %}
<nav>

</nav>
   <div class="row">
     <div class="col-md-8 offset-md-2 well">
      {% call f.form_tag('users.login') %}

        {% call f.form_group(form.identity, css_class='margin-bottom',
                             placeholder='E-mail or Username') %}
        {% endcall %}

        {% call f.form_group(form.password, css_class='margin-bottom'
                             ) %}
        {% endcall %}
         <div class="row">
           <div class="col col-md-2">
             <button type="submit" class="btn btn-primary">Login</button>
           </div>
           <div class="col col-md-2 offset-md-8">
             <a type="button"  class="btn btn-secondary" href="{{ url_for('auth.auth_login', provider='github') }}"><i class="fab fa-github"></i> 登录</a>
           </div>
         </div>

      {% endcall %}
    </div>
   </div>

{% endblock %}
